.categories-container {
  padding: 0 5px 0 5px;
}

.category-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &.selected {
    background-color: rgb(64, 64, 236);
    color: white;
  }
}