.main-container {
  background-color: #f0f0f0;
  padding: 30px;
  flex: 2;
}

.task-input,
.todo-item {
  background-color: white;
  border: 0px;
  width: 100%;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;

}

.filter-panel{
  flex: 1;
}